@import '../../styles/variables';

.my-projects {
    display: flex;
    font-family: $brand-text;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .project-card {
        display: flex;
        cursor: pointer;
        align-content: center;
        justify-content: center;
        text-align: center;
        flex-flow: column;
        padding: 20px;

        +.project-card {
            margin-top: 5%;
        }
    }

    .project-title {
        font-size: 32px;
        margin: 5% 0;
    }

    .projects-container {
        display: flex;
        flex-flow: column;
    }
}