@import '../../styles/variables';

.root.navbar {
    display: flex;
    justify-content: center;
    background-color: $primary;
    height: 110px;
    width: 100vw;
    font-family: $brand-text;

    .toolbar {
        display: grid;
        grid-template-areas: "a b . c";
        grid-template-columns: 1fr 1fr 5fr 1fr;
    }
    
    .brand {
        grid-area: a;
        font-size: 25px;
        font-weight: bold;
        margin-left: 5%;
        cursor: pointer;
    }

    .my-projects {
        grid-area: b;
        text-align: center;
    }

    .account-icon {
        fill: $white
    }

    .btn-icon {
        justify-self: center;
        grid-area: c;
        height: 50px;
        width: 50px;
    }
}