@import '../../styles/variables';

.root.navbar {
    display: flex;
    justify-content: center;
    background-color: $primary;
    height: 110px;
    width: 100vw;
    font-family: $brand-text;

    .toolbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 5fr;
    }
    
    .brand {
        font-size: 25px;
        font-weight: bold;
        margin-left: 5%;
        cursor: pointer;
    }

    .my-projects,
    .my-work {
        text-align: center;
    }

    .account-icon {
        fill: $white
    }

    .btn-icon {
        margin-left: 90%;
        height: 50px;
        width: 50px;
    }
}