@import '../../styles/variables';

.landing-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;

    .account-icon {
        fill: $white
    }

    .btn-icon {
        margin-left: 30%;
        height: 50px;
        width: 50px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        background-color: $primary;
        height: 10%;
        width: 100vw;
    }

    .navbar-toolbar {
        display: grid;
        grid-template-columns: 10fr 1fr;
    }

    .navbar-brand {
        font-family: $brand-text;
        font-size: 25px;
        font-weight: bold;
        margin-left: 5%;
    }

    .card {
        display: flex;
        flex-flow: column;
        margin-top: 12.5%;
        justify-content: center;
        align-items: center;
    }

    .tabs-root {
        border-bottom: 1px solid $primary;
    }

    .tabs-indicator {
        height: 0;
    }

    .tab-selected {
        background-color: $primary;
        color: $white
    }
}