@import '../../../styles/variables'; 

.register {
    display: flex;
    padding: 25px;

    .form {
        display: flex;
        flex-flow: column;
    }

    .form-item + .form-item {
        margin-top: 2.5%;
    }

    .btn-submit {
        margin-top: 20%;
        background: $primary-gradient;

        &:hover {
            background-color: $primary-light;
        }
    }

    .btn-text {
        color: $white;
    }
}