// Theme Colors
$primary: #1769aa;
$primary-dark: #104976;
$primary-light: #4587bb;
$secondary: #d50000;
$error: #ff9300;

// Generic colors
$white: #fff;
$black: #000;

// Fonts
$brand-text: 'Roboto';
