.register {
    display: flex;

    .form {
        display: flex;
        flex-flow: column;
    }

    .form-item {

        + .form-item {
            margin-top: 2.5%;
        }
    }

    .submit {
        margin-top: 5%;
    }
}